$display: flex;
$direction: column;
$items: center;

@mixin position-shared {
  display: $display;
  flex-direction: $direction;
  align-items: $items;
}

.footer {
  background-color: black;
  height: 130px;
  position: relative;
  top: 6rem;
  color: white;
  padding: 20px;

  .col-1 {
    .col-1_title {
      font-size: 28px;
      font-family: 'Alata', 'sans-serif';
    }
    .col-1_menu_link {
      .col-1_menu_link--mod {
        margin-right: 20px;
      }
    }
  }

  .col-2 {
    display: $display;
    flex-direction: $direction;
    align-items: flex-end;

    .col-2_icons {
      cursor: pointer;

      .col-2_icons--mod {
        margin-right: 20px;

        &:hover {
          transition: 0.4s;
          border-bottom: 2px solid white;
        }
      }
    }

    .col-2_copyright {
      color: hsl(0, 0%, 55%);
      line-height: 2;
    }
  }
}
@media screen and (max-width: 960px) {
  .footer {
    height: 270px;

    .col-1 {
      .col-1_title {
        text-align: $items;
      }
      .col-1_menu_link {
        @include position-shared;
        cursor: pointer;

        .col-1_menu_link--mod {
          margin-right: 0;
          margin-top: 10px;
          &:hover {
            border-bottom: 2px solid white;
          }
        }
      }
    }

    .col-2 {
      @include position-shared;
    }
  }
}
