$repeat: no-repeat;
$size: cover;
$height: 600px;
$cursor: pointer;
$opacity: 0.4;
$transition: 0.3s;


@mixin background-shared {
  background-repeat: $repeat;
  background-size: $size;
  cursor: $cursor;
  &:hover {
    opacity: 0.4;
    transition: 0.3s;
  }
}

.main {
  margin: 6rem 3rem;

  //sectionOne
  .bloc-1 {
    background-image: url('../../shared/images/desktop/image-interactive.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bloc-2 {
    padding: 2rem;
    background-color: white;
    position: relative;
    top: 15rem;
    left: -4rem;

    .bloc-2-title {
     font-size: 60px;
      margin-bottom: 20px;
    }

  }

  //sectionTwo
  .section-two {
    position: relative;
    top: 6rem;

    .title {
      font-size: 55px;
    }
    .container-button {
      display: flex;
      justify-content: flex-end;
    }
    .button {
      border: 1px solid black;
      width: 150px;
      padding: 13px;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: black;
        color: white;
        box-shadow: 0px 1px 10px black;
        transition: 0.5s;
      }
    }
    .button--mod{
      margin: 2rem auto;
    }

    .description {
      font-size: 35px;
      text-transform: uppercase;
      width: 160px;
      position: relative;
      top: 30rem;
      margin-left: 10px;
      color: white;
    }

    .row-1 {
      height: 600px;
      position: relative;

      .col--mod:nth-child(1) {
        background-image: url('../../shared/images/desktop/image-deep-earth.jpg');
        @include background-shared;
      }

      .col--mod:nth-child(2) {
        background-image: url('../../shared/images/desktop/image-night-arcade.jpg');
        @include background-shared;
      }

      .col--mod:nth-child(3) {
        background-image: url('../../shared/images/desktop/image-soccer-team.jpg');
        @include background-shared;
      }

      .col--mod:nth-child(4) {
        background-image: url('../../shared/images/desktop/image-grid.jpg');
        @include background-shared;
      }
    }

    .row-2 {
      height: 600px;

      .col--mod:nth-child(1) {
        background-image: url('../../shared/images/desktop/image-from-above.jpg');
        @include background-shared;
      }
      .col--mod:nth-child(2) {
        background-image: url('../../shared/images/desktop/image-pocket-borealis.jpg');
        @include background-shared;
      }
      .col--mod:nth-child(3) {
        background-image: url('../../shared/images/desktop/image-curiosity.jpg');
        @include background-shared;

      }
      .col--mod:nth-child(4) {
        background-image: url('../../shared/images/desktop/image-fisheye.jpg');
        @include background-shared;
      }
    }
  }

  @media screen and (max-width: 960px){
    //section-one
    .bloc-2 {
      position: relative;
      top: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
    .bloc-2-title {
      font-size: 50px;
    }

    //section-two
    .section-two {
      position: relative;
      top: 40px;

      .d-none {
        display: none;
      }
      .title--mod {
        text-align: center;
      }

      .description {
        position: relative;
        top: 3rem;
        margin-left: 10px;
      }

    .row-1 {
      .col--mod:nth-child(1) {
        background-image: url('../../shared/images/mobile/image-deep-earth.jpg');
      }
      .col--mod:nth-child(2) {
        background-image: url('../../shared/images/mobile/image-night-arcade.jpg');
      }
      .col--mod:nth-child(3) {
        background-image: url('../../shared/images/mobile/image-soccer-team.jpg');
      }
      .col--mod:nth-child(4) {
        background-image: url('../../shared/images/mobile/image-grid.jpg');
      }
    }
    .row-2 {
      .col--mod:nth-child(1) {
        background-image: url('../../shared/images/mobile/image-from-above.jpg');
      }
      .col--mod:nth-child(2) {
        background-image: url('../../shared/images/mobile/image-pocket-borealis.jpg');
      }
      .col--mod:nth-child(3) {
        background-image: url('../../shared/images/mobile/image-curiosity.jpg');
      }
      .col--mod:nth-child(4) {
        background-image: url('../../shared/images/mobile/image-fisheye.jpg');
      }
    }
  }
}
}
